*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1
{
    text-align: center;
    padding: 20px;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.player1
{
    text-align: center;
}

.player2
{
    text-align: center;
}

.dra
{
    text-align: center;
}


